
<div id="messageForm">
<%= form_for Message.new, :remote => true do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.label :title %>
    <%= f.text_field :title, :id => "message" %>

  <%= f.submit 'Save', :id => "sendMessage" %>
<% end %>
</div>

<div id="messages">
<%= render @messages %>
</div>



<div id="messageBoxTemplate" class="messageBox"></div>

<script>
console.log($('#messageBoxTemplate'));
</script>